.schedule {
  flex: 6;
  padding: 2rem;
  line-height: 1.5;
}

.schedule-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.grid-col-span-5 {
  grid-column: span 5;
}


.card {
  border-radius: 10px;
  background: #ffff;
}

.card__info {
  padding: 2rem;
}

.card--title {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.schedule--content {
  height: 100vh;
  overflow: auto;
}

.schedule--content::-webkit-scrollbar {
  display: none;
}


/* =================== Table Grid ================ */

.schedule--table {
  /* display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto; */
  display: grid;
  grid-template-columns: 4em repeat(5,1fr);
  grid-template-rows: repeat(180, 0.2fr);
  column-gap: 1em;
  grid-template-areas: 
    "......... Monday Tuesday Wednesday Thursday Friday"
    "time-0800 m-0800 t-0800  w-0800    r-0800   f-0800"
    "......... m-0805 t-0805  w-0805    r-0805   f-0805"
    "......... m-0810 t-0810  w-0810    r-0810   f-0810"
    "......... m-0815 t-0815  w-0815    r-0815   f-0815"
    "......... m-0820 t-0820  w-0820    r-0820   f-0820"
    "......... m-0825 t-0825  w-0825    r-0825   f-0825"
    "......... m-0830 t-0830  w-0830    r-0830   f-0830"
    "......... m-0835 t-0835  w-0835    r-0835   f-0835"
    "......... m-0840 t-0840  w-0840    r-0840   f-0840"
    "......... m-0845 t-0845  w-0845    r-0845   f-0845"
    "......... m-0850 t-0850  w-0850    r-0850   f-0850"
    "......... m-0855 t-0855  w-0855    r-0855   f-0855"
    "time-0900 m-0900 t-0900  w-0900    r-0900   f-0900"
    "......... m-0905 t-0905  w-0905    r-0905   f-0905"
    "......... m-0910 t-0910  w-0910    r-0910   f-0910"
    "......... m-0915 t-0915  w-0915    r-0915   f-0915"
    "......... m-0920 t-0920  w-0920    r-0920   f-0920"
    "......... m-0925 t-0925  w-0925    r-0925   f-0925"
    "......... m-0930 t-0930  w-0930    r-0930   f-0930"
    "......... m-0935 t-0935  w-0935    r-0935   f-0935"
    "......... m-0940 t-0940  w-0940    r-0940   f-0940"
    "......... m-0945 t-0945  w-0945    r-0945   f-0945"
    "......... m-0950 t-0950  w-0950    r-0950   f-0950"
    "......... m-0955 t-0955  w-0955    r-0955   f-0955"
    "time-1000 m-1000 t-1000  w-1000    r-1000   f-1000"
    "......... m-1005 t-1005  w-1005    r-1005   f-1005"
    "......... m-1010 t-1010  w-1010    r-1010   f-1010"
    "......... m-1015 t-1015  w-1015    r-1015   f-1015"
    "......... m-1020 t-1020  w-1020    r-1020   f-1020"
    "......... m-1025 t-1025  w-1025    r-1025   f-1025"
    "......... m-1030 t-1030  w-1030    r-1030   f-1030"
    "......... m-1035 t-1035  w-1035    r-1035   f-1035"
    "......... m-1040 t-1040  w-1040    r-1040   f-1040"
    "......... m-1045 t-1045  w-1045    r-1045   f-1045"
    "......... m-1050 t-1050  w-1050    r-1050   f-1050"
    "......... m-1055 t-1055  w-1055    r-1055   f-1055"
    "time-1100 m-1100 t-1100  w-1100    r-1100   f-1100"
    "......... m-1105 t-1105  w-1105    r-1105   f-1105"
    "......... m-1110 t-1110  w-1110    r-1110   f-1110"
    "......... m-1115 t-1115  w-1115    r-1115   f-1115"
    "......... m-1120 t-1120  w-1120    r-1120   f-1120"
    "......... m-1125 t-1125  w-1125    r-1125   f-1125"
    "......... m-1130 t-1130  w-1130    r-1130   f-1130"
    "......... m-1135 t-1135  w-1135    r-1135   f-1135"
    "......... m-1140 t-1140  w-1140    r-1140   f-1140"
    "......... m-1145 t-1145  w-1145    r-1145   f-1145"
    "......... m-1150 t-1150  w-1150    r-1150   f-1150"
    "......... m-1155 t-1155  w-1155    r-1155   f-1155"
    "time-1200 m-1200 t-1200  w-1200    r-1200   f-1200"
    "......... m-1205 t-1205  w-1205    r-1205   f-1205"
    "......... m-1210 t-1210  w-1210    r-1210   f-1210"
    "......... m-1215 t-1215  w-1215    r-1215   f-1215"
    "......... m-1220 t-1220  w-1220    r-1220   f-1220"
    "......... m-1225 t-1225  w-1225    r-1225   f-1225"
    "......... m-1230 t-1230  w-1230    r-1230   f-1230"
    "......... m-1235 t-1235  w-1235    r-1235   f-1235"
    "......... m-1240 t-1240  w-1240    r-1240   f-1240"
    "......... m-1245 t-1245  w-1245    r-1245   f-1245"
    "......... m-1250 t-1250  w-1250    r-1250   f-1250"
    "......... m-1255 t-1255  w-1255    r-1255   f-1255"
    "time-1300 m-1300 t-1300  w-1300    r-1300   f-1300"
    "......... m-1305 t-1305  w-1305    r-1305   f-1305"
    "......... m-1310 t-1310  w-1310    r-1310   f-1310"
    "......... m-1315 t-1315  w-1315    r-1315   f-1315"
    "......... m-1320 t-1320  w-1320    r-1320   f-1320"
    "......... m-1325 t-1325  w-1325    r-1325   f-1325"
    "......... m-1330 t-1330  w-1330    r-1330   f-1330"
    "......... m-1335 t-1335  w-1335    r-1335   f-1335"
    "......... m-1340 t-1340  w-1340    r-1340   f-1340"
    "......... m-1345 t-1345  w-1345    r-1345   f-1345"
    "......... m-1350 t-1350  w-1350    r-1350   f-1350"
    "......... m-1355 t-1355  w-1355    r-1355   f-1355"
    "time-1400 m-1400 t-1400  w-1400    r-1400   f-1400"
    "......... m-1405 t-1405  w-1405    r-1405   f-1405"
    "......... m-1410 t-1410  w-1410    r-1410   f-1410"
    "......... m-1415 t-1415  w-1415    r-1415   f-1415"
    "......... m-1420 t-1420  w-1420    r-1420   f-1420"
    "......... m-1425 t-1425  w-1425    r-1425   f-1425"
    "......... m-1430 t-1430  w-1430    r-1430   f-1430"
    "......... m-1435 t-1435  w-1435    r-1435   f-1435"
    "......... m-1440 t-1440  w-1440    r-1440   f-1440"
    "......... m-1445 t-1445  w-1445    r-1445   f-1445"
    "......... m-1450 t-1450  w-1450    r-1450   f-1450"
    "......... m-1455 t-1455  w-1455    r-1455   f-1455"
    "time-1500 m-1500 t-1500  w-1500    r-1500   f-1500"
    "......... m-1505 t-1505  w-1505    r-1505   f-1505"
    "......... m-1510 t-1510  w-1510    r-1510   f-1510"
    "......... m-1515 t-1515  w-1515    r-1515   f-1515"
    "......... m-1520 t-1520  w-1520    r-1520   f-1520"
    "......... m-1525 t-1525  w-1525    r-1525   f-1525"
    "......... m-1530 t-1530  w-1530    r-1530   f-1530"
    "......... m-1535 t-1535  w-1535    r-1535   f-1535"
    "......... m-1540 t-1540  w-1540    r-1540   f-1540"
    "......... m-1545 t-1545  w-1545    r-1545   f-1545"
    "......... m-1550 t-1550  w-1550    r-1550   f-1550"
    "......... m-1555 t-1555  w-1555    r-1555   f-1555"
    "time-1600 m-1600 t-1600  w-1600    r-1600   f-1600"
    "......... m-1605 t-1605  w-1605    r-1605   f-1605"
    "......... m-1610 t-1610  w-1610    r-1610   f-1610"
    "......... m-1615 t-1615  w-1615    r-1615   f-1615"
    "......... m-1620 t-1620  w-1620    r-1620   f-1620"
    "......... m-1625 t-1625  w-1625    r-1625   f-1625"
    "......... m-1630 t-1630  w-1630    r-1630   f-1630"
    "......... m-1635 t-1635  w-1635    r-1635   f-1635"
    "......... m-1640 t-1640  w-1640    r-1640   f-1640"
    "......... m-1645 t-1645  w-1645    r-1645   f-1645"
    "......... m-1650 t-1650  w-1650    r-1650   f-1650"
    "......... m-1655 t-1655  w-1655    r-1655   f-1655"
    "time-1700 m-1700 t-1700  w-1700    r-1700   f-1700"
    "......... m-1705 t-1705  w-1705    r-1705   f-1705"
    "......... m-1710 t-1710  w-1710    r-1710   f-1710"
    "......... m-1715 t-1715  w-1715    r-1715   f-1715"
    "......... m-1720 t-1720  w-1720    r-1720   f-1720"
    "......... m-1725 t-1725  w-1725    r-1725   f-1725"
    "......... m-1730 t-1730  w-1730    r-1730   f-1730"
    "......... m-1735 t-1735  w-1735    r-1735   f-1735"
    "......... m-1740 t-1740  w-1740    r-1740   f-1740"
    "......... m-1745 t-1745  w-1745    r-1745   f-1745"
    "......... m-1750 t-1750  w-1750    r-1750   f-1750"
    "......... m-1755 t-1755  w-1755    r-1755   f-1755"
    "time-1800 m-1800 t-1800  w-1800    r-1800   f-1800"
    "......... m-1805 t-1805  w-1805    r-1805   f-1805"
    "......... m-1810 t-1810  w-1810    r-1810   f-1810"
    "......... m-1815 t-1815  w-1815    r-1815   f-1815"
    "......... m-1820 t-1820  w-1820    r-1820   f-1820"
    "......... m-1825 t-1825  w-1825    r-1825   f-1825"
    "......... m-1830 t-1830  w-1830    r-1830   f-1830"
    "......... m-1835 t-1835  w-1835    r-1835   f-1835"
    "......... m-1840 t-1840  w-1840    r-1840   f-1840"
    "......... m-1845 t-1845  w-1845    r-1845   f-1845"
    "......... m-1850 t-1850  w-1850    r-1850   f-1850"
    "......... m-1855 t-1855  w-1855    r-1855   f-1855"
    "time-1900 m-1900 t-1900  w-1900    r-1900   f-1900"
    "......... m-1905 t-1905  w-1905    r-1905   f-1905"
    "......... m-1910 t-1910  w-1910    r-1910   f-1910"
    "......... m-1915 t-1915  w-1915    r-1915   f-1915"
    "......... m-1920 t-1920  w-1920    r-1920   f-1920"
    "......... m-1925 t-1925  w-1925    r-1925   f-1925"
    "......... m-1930 t-1930  w-1930    r-1930   f-1930"
    "......... m-1935 t-1935  w-1935    r-1935   f-1935"
    "......... m-1940 t-1940  w-1940    r-1940   f-1940"
    "......... m-1945 t-1945  w-1945    r-1945   f-1945"
    "......... m-1950 t-1950  w-1950    r-1950   f-1950"
    "......... m-1955 t-1955  w-1955    r-1955   f-1955"
    "time-2000 m-2000 t-2000  w-2000    r-2000   f-2000"
    "......... m-2005 t-2005  w-2005    r-2005   f-2005"
    "......... m-2010 t-2010  w-2010    r-2010   f-2010"
    "......... m-2015 t-2015  w-2015    r-2015   f-2015"
    "......... m-2020 t-2020  w-2020    r-2020   f-2020"
    "......... m-2025 t-2025  w-2025    r-2025   f-2025"
    "......... m-2030 t-2030  w-2030    r-2030   f-2030"
    "......... m-2035 t-2035  w-2035    r-2035   f-2035"
    "......... m-2040 t-2040  w-2040    r-2040   f-2040"
    "......... m-2045 t-2045  w-2045    r-2045   f-2045"
    "......... m-2050 t-2050  w-2050    r-2050   f-2050"
    "......... m-2055 t-2055  w-2055    r-2055   f-2055"
    "time-2100 m-2100 t-2100  w-2100    r-2100   f-2100"
    "......... m-2105 t-2105  w-2105    r-2105   f-2105"
    "......... m-2110 t-2110  w-2110    r-2110   f-2110"
    "......... m-2115 t-2115  w-2115    r-2115   f-2115"
    "......... m-2120 t-2120  w-2120    r-2120   f-2120"
    "......... m-2125 t-2125  w-2125    r-2125   f-2125"
    "......... m-2130 t-2130  w-2130    r-2130   f-2130"
    "......... m-2135 t-2135  w-2135    r-2135   f-2135"
    "......... m-2140 t-2140  w-2140    r-2140   f-2140"
    "......... m-2145 t-2145  w-2145    r-2145   f-2145"
    "......... m-2150 t-2150  w-2150    r-2150   f-2150"
    "......... m-2155 t-2155  w-2155    r-2155   f-2155"
    "time-2200 m-2200 t-2200  w-2200    r-2200   f-2200"
    "......... m-2205 t-2205  w-2205    r-2205   f-2205"
    "......... m-2210 t-2210  w-2210    r-2210   f-2210"
    "......... m-2215 t-2215  w-2215    r-2215   f-2215"
    "......... m-2220 t-2220  w-2220    r-2220   f-2220"
    "......... m-2225 t-2225  w-2225    r-2225   f-2225"
    "......... m-2230 t-2230  w-2230    r-2230   f-2230"
    "......... m-2235 t-2235  w-2235    r-2235   f-2235"
    "......... m-2240 t-2240  w-2240    r-2240   f-2240"
    "......... m-2245 t-2245  w-2245    r-2245   f-2245"
    "......... m-2250 t-2250  w-2250    r-2250   f-2250"
    "......... m-2255 t-2255  w-2255    r-2255   f-2255";
  align-items: center;
}

/* white background cross the header to cover the time and block when scrolling up */
.schedule--table::before {
    content: "";
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    grid-column: 1 / 7;
    grid-row: 1;
    z-index: 1000;
}

.schedule--line {
  border-bottom: 1px solid #cbcbcb;
  transform: translateY(-50%);
  grid-column: 2 / 7;
}

.time-slot {
  grid-column: times;
  font-size: 0.75rem;
}

.track-slot {
  display: block;
  padding: 10px 5px 5px;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  font-size: 0.75rem;
}

.card__icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  justify-content: center;
}

.card__container {
  height: 80vh;
  overflow: auto;
}

/* ------------------------ Search bar style ------------------------------ */


.search-bar {
  border: 1px solid;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  width: 100%;
  outline: 0;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 2rem;
  min-height: 38px;
  padding: 2px 8px;
}
