.dropdown-menu {
  position: absolute;
  padding: 0;
  top: 70px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #213d63;
  cursor: pointer;
  width: 100%;
}

.dropdown-menu li:hover {
  background: #2a3f5c;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
